.card {
  width: 270px;
  height: 435px;
  background-color: $white-light;
  @include flex(column, flex-start, center);

  &:hover {
    cursor: pointer;
    .card__button {
      background: $light-persian;
    }
  }

  &__title {
    margin: 30px 0 0 0;
    @extend %buttonText;
    color: $grey;
  }

  &__image {
    width: 270px;
    height: 270px;
    object-fit: cover;
  }

  &__button {
    margin-top: 30px;
    width: 187px;
    height: 52px;
    border: 2px solid $persian;
    border-radius: 100px;
    background: none;
    cursor: pointer;
    @extend %startButtonText;

    &:hover {
      background: $light-persian;
    }
  }
}
