.slider {
  margin-top: 60px;
  width: 1200px;
  height: 435px;
  @include flex(row, space-between, center);

  @media screen and (max-width: $desktop) {
    width: 93.75vw;
  }

  @media screen and (max-width: $big-tablet) {
    width: 83.75vw;
  }

  @media screen and (max-width: $middle-tablet) {
    width: 92.19vw;
  }

  @media screen and (max-width: $some-middle-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    height: 507px;
    justify-content: center;
  }

  @media screen and (max-width: $more-then-tablet) {
    margin-top: 0;
    @include flex(row, center, center);
    flex-wrap: wrap;
    width: 300px;
    column-gap: 80px;
    height: 507px;
  }

  &__button {
    padding: 0;
    width: 52px;
    height: 52px;
    background: none;
    border: 2px solid $persian;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: $light-persian;
    }

    &_left {
      @media screen and (max-width: $some-middle-tablet) {
        order: 2;
        justify-self: end;
      }
    }

    &_right {
      @media screen and (max-width: $some-middle-tablet) {
        order: 3;
      }
    }
  }

  &__container {
    width: 990px;
    overflow: hidden;

    @media screen and (max-width: $desktop) {
      width: calc(#{$card-gap-desktop}*2 + #{$cardWidth}*3);
    }

    @media screen and (max-width: $little-desktop) {
      width: calc(#{$card-gap-little-desktop}*2 + #{$cardWidth}*3);
    }

    @media screen and (max-width: $low-desktop) {
      width: calc(#{$card-gap-low-desktop} + #{$cardWidth}*2);
    }

    @media screen and (max-width: $big-tablet) {
      width: calc(#{$card-gap-big-tablet} + #{$cardWidth}*2);
    }

    @media screen and (max-width: $middle-tablet) {
      width: calc(#{$card-gap-middle-tablet} + #{$cardWidth}*2);
    }

    @media screen and (max-width: $some-middle-tablet) {
      width: $cardWidth;
    }

    @media screen and (max-width: $some-middle-tablet) {
      grid-column: span 2;
      justify-self: center;
    }
  }

  &__cards-list {
    margin: 0;
    padding: 0;
    @include flex(row, flex-start, center);
    list-style-type: none;
    position: relative;
    left: -360px;
    gap: 90px;

    &_transition {
      transition: all .5s ease;
    }

    @media screen and (max-width: $desktop) {
      gap: $card-gap-desktop;
      left: calc(#{-$cardWidth} - #{$card-gap-desktop});
    }

    @media screen and (max-width: $little-desktop) {
      gap: $card-gap-little-desktop;
      left: calc(#{-$cardWidth} - #{$card-gap-little-desktop});
    }

    @media screen and (max-width: $low-desktop) {
      gap: $card-gap-low-desktop;
      left: calc(#{-$cardWidth} - #{$card-gap-low-desktop});
    }

    @media screen and (max-width: $big-tablet) {
      left: calc(#{-$cardWidth} - #{$card-gap-big-tablet});
      gap: $card-gap-big-tablet;
    }

    @media screen and (max-width: $middle-tablet) {
      gap: $card-gap-middle-tablet;
      left: calc(#{-$cardWidth} - #{$card-gap-middle-tablet});
    }

    @media screen and (max-width: $some-middle-tablet) {
      gap: $card-gap-some-middle-tablet;
      left: calc(#{-$cardWidth} - #{$card-gap-some-middle-tablet});
    }
  }
}
