$cardGap1280: 7.03vw;
$cardGap1180: 2.03vw;
$cardGap1040: 7.03vw;
$cardGap900: 4.44vw;
$cardGap768: 5.21vw;
$cardGap760: 2.21vw;
$cardWidth: 270px;

.slider {
  margin-top: 60px;
  width: 93.75vw;
  height: 435px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 1281px) {
    width: 1200px;
  }

  @media screen and (max-width: 1040px) {
    width: 83.75vw;
  }

  @media screen and (max-width: 900px) {
    width: 708px;
  }

  @media screen and (max-width: 768px) {
    width: 92.19vw;
  }

  @media screen and (max-width: 720px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    height: 507px;
    justify-content: center;
  }

  @media screen and (max-width: 560px) {
    margin-top: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    column-gap: 80px;
    height: 507px;
  }

  &__button {
    padding: 0;
    width: 52px;
    height: 52px;
    background: none;
    border: 2px solid rgba(241, 205, 179, 1);
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: #FDDCC4;
    }

    &_left {
      @media screen and (max-width: 720px) {
        order: 2;
        justify-self: end;
      }
    }

    &_right {
      @media screen and (max-width: 720px) {
        order: 3;
      }
    }
  }

  &__container {
    width: calc(#{$cardGap1280}*2 + #{$cardWidth}*3);
    overflow: hidden;

    @media screen and (min-width: 1281px) {
      width: 990px;
    }

    @media screen and (max-width: 1180px) {
      width: calc(#{$cardGap1180}*2 + #{$cardWidth}*3);
    }

    @media screen and (max-width: 1040px) {
      width: calc(#{$cardGap1040} + #{$cardWidth}*2);
    }

    @media screen and (max-width: 900px) {
      width: calc(#{$cardGap900} + #{$cardWidth}*2);
    }

    @media screen and (max-width: 768px) {
      width: calc(#{$cardGap768} + #{$cardWidth}*2);
    }

    @media screen and (max-width: 760px) {
      width: $cardWidth;
    }

    @media screen and (max-width: 720px) {
      grid-column: span 2;
      justify-self: center;
    }
  }

  &__cards-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    gap: $cardGap1280;
    position: relative;
    left: calc(#{-$cardWidth} - #{$cardGap1280});

    &_transition {
      transition: all .5s ease;
    }

    @media screen and (min-width: 1281px) {
      left: -360px;
      gap: 90px;
    }

    @media screen and (max-width: 1180px) {
      gap: $cardGap1180;
      left: calc(#{-$cardWidth} - #{$cardGap1180});
    }

    @media screen and (max-width: 1040px) {
      gap: $cardGap1040;
      left: calc(#{-$cardWidth} - #{$cardGap1040});
    }

    @media screen and (max-width: 900px) {
      left: calc(#{-$cardWidth} - #{$cardGap900});
      gap: $cardGap900;
    }

    @media screen and (max-width: 768px) {
      gap: $cardGap768;
      left: calc(#{-$cardWidth} - #{$cardGap768});
    }

    @media screen and (max-width: 760px) {
      gap: $cardGap760;
      left: calc(#{-$cardWidth} - #{$cardGap760});
    }
  }
}


