.donation {
  width: 100%;
  height: 462px;
  background: #F6F6F6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 940px) {
  .donation {
    flex-direction: column-reverse;
    height: 783px;
  }
}
@media screen and (max-width: 768px) {
  .donation {
    justify-content: flex-end;
    gap: 40px;
  }
}
@media screen and (max-width: 420px) {
  .donation {
    flex-direction: column-reverse;
    height: 543px;
  }
}
@media screen and (max-width: 768px) {
  .donation__image {
    width: 65.76vw;
    object-fit: contain;
  }
}
@media screen and (max-width: 420px) {
  .donation__image {
    width: 260px;
    height: 135px;
  }
}
.donation__content {
  margin-bottom: 20px;
  width: 380px;
  height: 282px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .donation__content {
    margin-top: 80px;
    justify-content: flex-start;
    gap: 20px;
    height: 300px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 420px) {
  .donation__content {
    width: 300px;
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  .donation__content {
    margin-top: 30px;
  }
}
.donation__title {
  margin: 0;
  width: 300px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
@media screen and (max-width: 420px) {
  .donation__title {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .donation__title {
    width: 220px;
  }
}
.donation__subtitle {
  margin: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}
@media screen and (max-width: 420px) {
  .donation__subtitle {
    font-size: 15px;
    line-height: 160%;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .donation__subtitle {
    width: 320px;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0;
  }
}
.donation__credit-card {
  margin: 0;
  width: 349px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}
.donation__credit-card:hover {
  opacity: 0.8;
  transition: 1s ease-in;
}
@media screen and (max-width: 420px) {
  .donation__credit-card {
    width: 281px;
    min-height: 43px;
  }
}
.donation__credit-img {
  width: 30px;
}
.donation__credit-number {
  margin: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
@media screen and (max-width: 420px) {
  .donation__credit-number {
    font-size: 15px;
    line-height: 110%;
  }
}
.donation__description {
  margin: 0;
  width: 380px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #B2B2B2;
}
@media screen and (max-width: 420px) {
  .donation__description {
    width: 280px;
    text-align: center;
  }
}

/*# sourceMappingURL=donation.css.map */
