.header {
  width: 100%;
  padding-top: 30px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 320px) {
  .header {
    width: 280px;
  }
}
.header_pets {
  padding-top: 0;
  width: 100vw;
}
@media screen and (min-width: 1281px) {
  .header_pets {
    width: 1280px;
  }
}
@media screen and (max-width: 320px) {
  .header_pets {
    width: 280px;
  }
}
.header__title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 186px;
}
@media screen and (min-width: 1281px) {
  .header__title-container {
    width: 184px;
  }
}
@media screen and (max-width: 768px) {
  .header__title-container {
    width: 25.96vw;
  }
}
.header__title {
  margin: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: rgb(241, 205, 179);
  text-decoration: none;
  transition: 1s ease-in;
}
.header__title_darked {
  color: #545454;
}
@media screen and (max-width: 768px) {
  .header__title_darked {
    margin-bottom: 10px;
  }
}
.header__title:hover {
  opacity: 0.3;
}
.header__subtitle {
  margin: 10px 0 0 0;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: rgb(217, 217, 217);
}
.header__subtitle_darked {
  color: #292929;
  margin: 10px 0 0 0;
}
@media screen and (max-width: 768px) {
  .header__subtitle_darked {
    margin: 0;
  }
}
.header__navigation {
  width: 443px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (min-width: 1281px) {
  .header__navigation {
    width: 443px;
  }
}
@media screen and (max-width: 768px) {
  .header__navigation {
    width: 57.68vw;
  }
}
@media screen and (max-width: 740px) {
  .header__navigation {
    width: 32px;
  }
}
@media screen and (max-width: 320px) {
  .header__navigation {
    width: 32px;
  }
}
.header__burger-menu {
  display: none;
  width: 32px;
  height: 22px;
  background: url("../../images/header__burger-menu.svg") 0 0/contain no-repeat;
  transition: 1s ease-in;
}
.header__burger-menu_darked {
  background: url("../../images/header__burger-menu_darked.svg") 0 0/contain no-repeat;
}
@media screen and (max-width: 740px) {
  .header__burger-menu {
    display: block;
  }
}
.header__burger-menu:hover {
  cursor: pointer;
  opacity: 0.3;
}
.header__list {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header__list {
    width: 57.68vw;
  }
}
@media screen and (max-width: 740px) {
  .header__list {
    display: none;
  }
}
.header__list-item {
  margin: 0;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  text-decoration: none;
}
.header__list-item_active {
  margin: 0;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  text-decoration: none;
  color: #FAFAFA;
  border-bottom: #F1CDB3 3px solid;
  padding-bottom: 4px;
}
.header__list-item:hover {
  color: #FAFAFA;
  border-bottom: #F1CDB3 3px solid;
  cursor: pointer;
  padding-bottom: 4px;
}
.header__list-item_darked {
  color: #545454;
}
.header__list-item_darked_active {
  margin: 0;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #292929;
  border-bottom: #F1CDB3 3px solid;
  text-decoration: none;
  cursor: none;
  padding-bottom: 4px;
}
.header__list-item_darked:hover {
  color: #292929;
  border-bottom: #F1CDB3 3px solid;
  cursor: pointer;
}

.header-container {
  margin: 0 auto 0 auto;
  width: 93.75vw;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1281px) {
  .header-container {
    width: 1200px;
  }
}

/*# sourceMappingURL=header.css.map */
