.start-screen {
  margin-top: 0;
  width: 100%;
  height: 908px;
  background: url("../images/start-screen.png"),
  radial-gradient(100% 215.42% at 0% 0%, $light-brown 0%, $black-grey 100%);
  @include flex(row, center, stretch);

  @media screen and (max-width: $little-desktop) {
    height: 1165px;
  }

  @media screen and (max-width: $small-tablet) {
    height: 900px;
  }

  @media screen and (max-width: $mobile) {
    height: 823px;
  }

  &__content {
    margin: 0 3.13vw 0 3.13vw;
    width: 1280px;
    padding: 0;
    position: relative;

    @media screen and (max-width: $desktop) {
      max-width: 100vw;
    }

    @media screen and (max-width: $little-desktop) {
      margin: 0 3.91vw 0 3.91vw;
    }

    @media screen and (max-width: $some-middle-tablet) {
      width: 90vw;
      margin: 0;
      @include flex(column, flex-start, flex-start);
    }

    @media screen and (max-width: $mobile) {
      margin: 0 3.13vw 0 3.13vw;
      @include flex(column, flex-start, center);
    }
  }

  &__title {
    margin: 253px 0 0 0;
    width: 310px;
    @extend %mainTitle;
    color: $white;

    @media screen and (max-width: $little-desktop) {
      margin: 60px 16.15vw 0 16.15vw;
    }

    @media screen and (max-width: $middle-tablet) {
      margin: 60px 0 0 16.15vw;
      width: 40.36vw;
    }

    @media screen and (max-width: $some-middle-tablet) {
      font-size: 25px;
      line-height: 130%;
      width: 40.36vw;
    }

    @media screen and (max-width: $small-tablet) {
      width: 60vw;
    }

    @media screen and (max-width: $mobile) {
      margin: 60px 0 0 0;
      letter-spacing: 0.06em;
      width: 250px;

      font-size: 25px;
      line-height: 130%;
      text-align: center;
    }
  }

  &__description {
    margin: 42px 0 0 0;
    width: 460px;
    @extend %paragraphText;
    color: $grey-persian;

    @media screen and (max-width: $little-desktop) {
      margin: 42px 16.15vw 0 16.15vw;
    }

    @media screen and (max-width: $middle-tablet) {
      width: 59.90vw;
    }

    @media screen and (max-width: $mobile) {
      margin: 42px 0 0 0;
      width: 300px;
      text-align: center;
    }
  }

  &__button {
    margin: 42px 0 0 0;
    width: 207px;
    height: 52px;
    background-color: $persian;
    @extend %startButtonText;
    color: $light-black;
    border-radius: 100px;
    @extend %hover;

    @media screen and (max-width: $little-desktop) {
      margin: 42px 32.55vw 0 32.55vw;
    }

    @media screen and (max-width: $some-middle-tablet) {
      margin: 42px auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media screen and (max-width: $mobile) {
      margin: 42px 0 0 0;
    }
  }

  &__image {
    bottom: 0;
    right: 0;
    width: 698px;
    height: 728px;
    position: absolute;
    background: url("../images/start-screen__image.png") 0 0/contain no-repeat;

    @media screen and (max-width: $desktop) {
      width: 54.53vw;
      height: 56.88vw;
    }

    @media screen and (max-width: $little-desktop) {
      width: 569px;
      height: 593px;
    }

    @media screen and (max-width: $middle-tablet) {
      width: 74.09vw;
      height: 77.21vw;
    }

    @media screen and (max-width: $some-middle-tablet) {
      width: 260px*1.4;
      height: 271px*1.4;
    }

    @media screen and (max-width: $tablet) {
      width: 260px;
      height: 271px;
    }

    @media screen and (max-width: $mobile) {
      width: 260px;
      height: 271px;
    }
  }
}
