.burger-popup {
  @include flex(column, flex-start, center);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transition: 1s ease-in;
  display: none;

  &_opened {
    transition: 1s ease-in;
    display: block;
    background-color: rgba(0, 0, 0, .6);
  }

  &__content {
    margin: 0 0 0 auto;
    width: 320px;
    height: 100%;
    background-color: $light-black;
    color: $black;
    box-sizing: border-box;
    @include flex(column, flex-start, center);
  }

  &__burger-menu {
    width: 30px;
    height: 30px;
    margin-top: 45px;
    margin-right: 20px;
    align-self: flex-end;
    object-fit: cover;
    background: url("../images/header__burger-menu.svg") 0 0/contain no-repeat;
    @extend %hover;

    &_rotate {
      transform: rotate(90deg);
    }
  }

  &__navigation {
    @include flex(column);
  }

  &__list {
    margin: 158px 0 0 0;
    padding: 0;
    @include flex(column, flex-start, center);
    list-style-type: none;
  }

  &__list-item {
    margin: 0 0 40px 0;
  }

  &__link {
    margin: 0;
    @extend %linkText;
    color: $grey-persian;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: transparent 3px solid;
    @extend %hover;

    &_active {
      color: $white-light;
      border-bottom: $persian 3px solid;
      &:hover {
        cursor: default;
        opacity: 1;
      }
    }

    &:hover {
      color: $white-light;
      border-bottom: $persian 3px solid;
    }
  }
}
