.burger-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: -320px;
  z-index: -1;
  transition: background-color .8s ease-in, right .8s ease-in, z-index .8s ease-in;

  &_opened {
    right: 0;
    z-index: 400;
    background-color: rgba(0, 0, 0, .6);
  }

  &__content {
    margin: 0 0 0 auto;
    width: 320px;
    height: 100%;
    background-color: $light-black;
    color: $black;
    box-sizing: border-box;
    @include flex(column, center, center);
    gap: 200px;
  }

  &__navigation {
    @include flex(column);
  }

  &__list {
    padding: 0;
    @include flex(column, flex-start, center);
    list-style-type: none;
  }

  &__list-item {
    margin: 0 0 40px 0;
  }

  &__link {
    margin: 0;
    @extend %linkText;
    color: $grey-persian;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: transparent 3px solid;
    @extend %hover;

    &_active {
      color: $white-light;
      border-bottom: $persian 3px solid;
      &:hover {
        cursor: default;
        opacity: 1;
      }
    }

    &:hover {
      color: $white-light;
      border-bottom: $persian 3px solid;
    }
  }
}
