.burger-popup {
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transition: 1s ease-in;
  display: none;

  &_opened {
    transition: 1s ease-in;
    display: block;
    background-color: rgba(0, 0, 0, .6);
  }

  &__content {
    margin: 0 0 0 auto;
    width: 320px;
    height: 100%;
    background-color: rgba(41, 41, 41, 1);
    color: #000000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__burger-menu {
    width: 30px;
    height: 30px;
    margin-top: 45px;
    margin-right: 20px;
    align-self: flex-end;
    object-fit: cover;
    transition: 1s ease-in;
    background: url("../images/header__burger-menu.svg") 0 0/contain no-repeat;

    &_rotate {
      transform: rotate(90deg);
    }

    &:hover {
      cursor: pointer;
      opacity: .3;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
  }

  &__list {
    margin: 158px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
  }

  &__list-item {
    margin: 0 0 40px 0;
  }

  &__link {
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;

    &_active {
      margin: 0;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 160%;
      text-decoration: none;
      color: #FAFAFA;
      border-bottom: #F1CDB3 3px solid;
      padding-bottom: 4px;
    }

    &:hover {
      color: #FAFAFA;
      border-bottom: #F1CDB3 3px solid;
      cursor: pointer;
      padding-bottom: 4px;
    }
  }
}
