.pets-popup {
  background-color: rgba(41, 41, 41, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: none;

  &_opened {
    @include flex(column, center, center);
  }

  &__close {
    width: 52px;
    height: 52px;
    position: absolute;
    border: 2px $persian solid;
    border-radius: 100%;
    background: none;
    left: 1080px;
    top: 136px;
    @include flex(column, center, center);
    cursor: pointer;
  }

  &__close-image {
    width: 12px;
    height: 12px;
    object-fit: contain;
  }

  &__content {
    width: 900px;
    height: 500px;
    background-color: $white-light;
    color: $black;
    box-sizing: border-box;
    @include flex(row, flex-start, center);
    border-radius: 10px;
    gap: 30px;
  }

  &__image {
    width: 500px;
    height: 500px;
  }

  &__text-container {
    width: 351px;
    height: 362px;
    @include flex();
  }

  &__title {
    margin: 0;
    @extend %sectionTitle;
  }

  &__subtitle {
    margin: 10px 0 0 0;
    @extend %buttonText;
  }

  &__description {
    margin: 40px 0 0 0;
    @extend %subtitleText;
  }

  &__list {
    margin: 40px 0 0 0;
    padding-left: 15px;
    list-style-type: circle;
    color: $persian;
  }

  &__list-item {
    margin: 0 0 10px 0;
    @include flex(row);
    @extend %subtitleText;
  }

  &__list-text {
    margin: 0 0 0 5px;
    color: $black;
  }

  &__list-span {
    margin: 0;
    color: $black;
    font-weight: 700;
  }
}
