.help {
  width: 100%;
  min-height: 611px;
  background: $white;
  @include flex(column, flex-start, center);

  @media screen and (max-width: $low-desktop) {
    min-height: 760px;
  }

  @media screen and (max-width: $middle-tablet) {
    min-height: 780px;
  }

  @media screen and (max-width: $some-middle-tablet) {
    min-height: 1060px;
  }

  @media screen and (max-width: $tablet) {
    min-height: 990px;
  }

  @media screen and (max-width: $small-tablet) {
    min-height: 890px;
  }

  @media screen and (max-width: $mobile) {
    box-sizing: border-box;
    min-height: 745px;
  }

  &__title {
    margin: 80px 0 0 0;
    width: 350px;
    @extend %sectionTitle;
    letter-spacing: 2.1px;
    color: $grey;
    text-align: center;

    @media screen and (max-width: $middle-tablet) {
      margin-top: 85px;
    }

    @media screen and (max-width: $small-tablet) {
      margin-top: 42px;
      font-size: 25px;
      width: 220px;
    }

    @media screen and (max-width: $mobile) {
      width: 250px;
    }
  }

  &__icons-list {
    margin: 60px 0 0 0;
    padding: 0;
    list-style-type: none;
    width: 1030px;
    column-gap: 100px;
    row-gap: 55px;
    min-height: 281px;
    @include flex(row, space-between, flex-start);
    flex-wrap: wrap;

    @media screen and (max-width: $desktop) {
      width: 80.47vw;
      column-gap: 6.38vw;
    }

    @media screen and (max-width: $little-desktop) {
      column-gap: 5vw;
    }

    @media screen and (max-width: $low-desktop) {
      margin-top: 55px;
      width: 82.03vw;
      column-gap: 7.81vw;
      row-gap: 55px;
    }

    @media screen and (max-width: $big-tablet) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    @media screen and (max-width: $some-middle-tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media screen and (max-width: $tablet) {
      column-gap: 3.91vw;
    }

    @media screen and (max-width: $small-tablet) {
      margin-top: 42px;
      width: 290px;
      height: 555px;
      column-gap: 30px;
    }

    @media screen and (max-width: $mobile) {
      row-gap: 32px;
      margin-top: 40px;
    }
  }

  &__list-item {

    &:nth-child(6) {
      margin-left: 85px;
    }

    &:nth-child(9) {
      margin-right: 85px;
    }

    @media screen and (max-width: $low-desktop) {
      &:nth-child(6) {
        margin-left: 0;
      }

      &:nth-child(9) {
        margin-right: 0;
      }
    }

    @include flex(column, center, center);

    @media screen and (max-width: $middle-tablet) {
      width: 170px;
    }

    @media screen and (max-width: $small-tablet) {
      width: 130px;
    }
  }

  &__icon {
    width: 60px;
    height: 60px;

    @media screen and (max-width: $tablet) {
      width: 50px;
      height: 50px;
    }
  }

  &__text {
    margin: 30px 0 0 0;
    @extend %buttonText;
    color: $grey;

    @media screen and (max-width: $small-tablet) {
      font-size: 15px;
    }

    @media screen and (max-width: $mobile) {
      margin-top: 20px;
    }
  }
}
