.all-pets {
  width: 100%;
  height: 1342px;
  background-color: $dark-white;
  @include flex(column, flex-start, center);
  scroll-behavior: smooth;

  @media screen and (max-width: $low-desktop) {
    height: 1733px;
  }

  @media screen and (max-width: $mobile) {
    height: 1649px;
  }

  &__title {
    margin: 80px 0 0 0;
    width: 400px;
    @extend %sectionTitle;
    text-align: center;
    letter-spacing: 2.1px;
    @include flex(column, center, center);
    color: $grey;

    @media screen and (max-width: $small-tablet) {
      margin-top: 42px;
      width: 300px;
    }

    @media screen and (max-width: $middle-tablet) {
      margin-top: 80px;
    }

    @media screen and (max-width: $tablet) {
      @include text(25px, 130%);
      letter-spacing: 1.5px;
      width: 300px;
    }

    @media screen and (max-width: $mobile) {
      margin-top: 42px;
    }
  }

  &__list {
    margin: 60px 0 0 0;
    padding: 0;
    list-style-type: none;
    width: 1200px;
    @include flex(row, center);
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;

    @media screen and (max-width: $desktop) {
      width: 93.75vw;
      column-gap: 3.13%;
    }

    @media screen and (max-width: $low-desktop) {
      column-gap: 8.13%;
    }

    @media screen and (max-width: $middle-tablet) {
      margin-top: 28px;
      gap: 5.8vw;
      width: 92.19vw;
      row-gap: 30px;
    }

    @media screen and (max-width: $some-middle-tablet) {
      width: 22.19vw;
    }

    @media screen and (max-width: $more-then-tablet) {
      gap: 5.13vw;
    }

    @media screen and (max-width: $mobile) {
      row-gap: 30px;
      margin-top: 42px;
      width: 300px;
    }
  }

  &__button-container {
    margin-top: 60px;
    width: 340px;
    height: 52px;
    @include flex(row);
    gap: 20px;

    @media screen and (max-width: $middle-tablet) {
      margin-top: 40px;
    }

    @media screen and (max-width: $small-tablet) {
      width: 300px;
      gap: 10px;
    }
  }

  &__button {
    width: 52px;
    height: 52px;
    background: none;
    border: 2px solid $persian;
    border-radius: 100px;
    @extend %buttonText;
    color: $light-black;

    &:hover {
      background: $persian;
      cursor: pointer;
    }

    &_disabled {
      color: $grey-persian;
      border: 2px solid $grey-persian;

      &:hover {
        background: none;
        cursor: default;
      }
    }

    &_count {
      background: $persian;
      @include flex(column, center, center);

      &:hover {
        cursor: default;
      }
    }
  }
}
