.footer {
  width: 100%;
  height: 350px;
  background: url(../images/footer.png), radial-gradient(110.67% 538.64% at 5.73% 50%, $brown 0%, $dark 100%),
  #211F20;
  @include flex(row, center, center);
  gap: 160px;

  @media screen and (max-width: $desktop) {
    gap: 12.50vw;
  }

  @media screen and (max-width: $small-desktop) {
    gap: 5.50vw;
  }

  @media screen and (max-width: $big-tablet) {
    @include flex(row, center, flex-start);
    height: 639px;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 65px;
  }

  @media screen and (max-width: $more-then-tablet) {
    height: 809px;
    gap: 40px;
    @include flex(column, space-between, center);
  }

  @media screen and (max-width: $mobile) {
    @include flex(column, flex-start, center);
    gap: 40px;
  }

  &__contacts {
    width: 278px;
    height: 234px;
    @include flex(column);
    gap: 30px;

    @media screen and (max-width: $big-tablet) {
      margin-top: 30px;
    }

    @media screen and (max-width: $middle-tablet) {
      gap: 40px;
    }

    @media screen and (max-width: $more-then-tablet) {
      height: 208px;
      gap: 40px;
    }
  }

  &__locations {
    width: 302px;
    height: 234px;
    @include flex(column);
    gap: 35px;

    @media screen and (max-width: $big-tablet) {
      margin-top: 30px;
    }

    @media screen and (max-width: $middle-tablet) {
      gap: 30px;
    }

    @media screen and (max-width: $more-then-tablet) {
      margin-top: 0;
      height: 208px;
      gap: 40px;
    }
  }

  &__image {
    @include flex(column);
    align-self: flex-end;

    @media screen and (max-width: $more-then-tablet) {
      align-self: center;
      width: 260px;
      object-fit: contain;
    }

    @media screen and (max-width: $mobile) {
      margin-top: 14px;
    }
  }

  &__title {
    margin: 0;
    width: 280px;
    @extend %sectionTitle;
    color: $white;

    @media screen and (max-width: $more-then-tablet) {
      font-size: 25px;
      text-align: center;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include flex(column);
    gap: 30px;

    &_phone {
      margin-top: 10px;
      gap: 40px;

      @media screen and (max-width: $middle-tablet) {
        gap: 40px;
      }

      @media screen and (max-width: $mobile) {
        margin-left: 15px;
      }
    }

    @media screen and (max-width: $middle-tablet) {
      gap: 35px;
    }

    @media screen and (max-width: $more-then-tablet) {
      gap: 40px;
    }
  }

  &__link {
    @include flex(row);
    gap: 20px;
    text-decoration: none;
    @extend %hover;
  }

  &__text {
    margin: 0;
    @include flex(column, flex-start, center);
    @extend %buttonText;
    color: $persian;
    text-decoration: none;
  }
}
