.header {
  width: 100%;
  padding-top: 30px;
  height: 60px;
  @include flex(row, space-between);
  position: relative;

  @media screen and (max-width: $mobile) {
    width: 290px;
    padding-top: 32px;
    margin-left: -10px;
    @include flex(row, flex-start);
    gap: 58px;
  }

  &_pets {
    padding-top: 10px;

    @media screen and (max-width: $some-middle-tablet) {
      padding-left: 15px;
      width: 90vw;
    }

    @media screen and (max-width: $tablet) {
      width: 85vw;
    }

    @media screen and (max-width: $mobile) {
      padding-top: 2px;
      padding-left: 15px;
    }
  }

  &__title-container {
    @include flex(column, center, center);
    width: 186px;

    @media screen and (max-width: $middle-tablet) {
      width: 25.96vw;
    }

    @media screen and (max-width: $some-middle-tablet) {
      @include flex(column, flex-start, flex-start);
      width: 35.96vw;
    }

    @media screen and (max-width: $more-then-tablet) {
      width: 40.96vw;
    }

    @media screen and (max-width: $tablet) {
      width: 50.96vw;
    }

    @media screen and (max-width: $mobile-bigger) {
      width: 70.96vw;
    }

    @media screen and (max-width: $mobile) {
      margin-left: 6px;
      width: 194px;
    }
  }

  &__title {
    margin: 0;
    @extend %headerTitle;
    color: $persian;
    text-decoration: none;
    @extend %hover;

    &_darked {
      color: $grey;

      @media screen and (max-width: $middle-tablet) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: $mobile) {
        margin-left: -5px;
      }
    }
  }

  &__subtitle {
    margin: 10px 0 0 0;
    @extend %headerSubtitle;
    color: $white-grey;

    @media screen and (max-width: $mobile) {
      margin-left: 7px;
    }

    &_darked {
      color: $light-black;
      margin: 10px 0 0 0;

      @media screen and (max-width: $middle-tablet) {
        margin: 0;
      }

      @media screen and (max-width: $mobile) {
        margin-left: -5px;
      }
    }
  }

  &__navigation {
    width: 443px;
    @include flex(row, flex-start, center);

    @media screen and (max-width: $middle-tablet) {
      width: 57.68vw;
      margin-right: 5px;
    }

    @media screen and (max-width: $some-middle-tablet) {
      width: 32px;
    }

    @media screen and (max-width: $mobile) {
      width: 32px;
    }
  }

  &__burger-menu {
    @include flex(column);
    gap: 5px;
    position: relative;
    width: 30px;
    height: 30px;
    top: 20px;
    border: none;
    z-index: 500;
    display: none;
    transition-delay: .2s;

    &_active {
      @include flex(column);
      gap: 5px;
      position: relative;
      width: 30px;
      height: 30px;
      top: 20px;
      border: none;
      z-index: 500;
      transform: rotate(-90deg);
    }

    @extend %hover;

    @media screen and (max-width: $mobile) {
      margin-left: 5px;
      margin-top: 18px;
    }

    @media screen and (max-width: $some-middle-tablet) {
      display: block;
    }
  }

  &__burger-menu-element {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: $persian;

    &:nth-child(2) {
      transform: translateY(10px);
    }

    &:nth-child(3) {
      transform: translateY(20px);
    }
  }

  &__burger-menu_darked > &__burger-menu-element {
    background-color: $light-black;
  }

  &__burger-menu_active > &__burger-menu-element {
    background-color: $persian;
  }

  &__list {
    padding: 0;
    margin: 16px 0 0 0;
    width: 100%;
    height: 100%;
    list-style-type: none;
    @include flex(row, space-between, center);

    @media screen and (max-width: $middle-tablet) {
      width: 57.68vw;
    }

    @media screen and (max-width: $some-middle-tablet) {
      display: none;
    }
  }

  &__list-item {
    margin: 0;
    @extend %paragraphText;
    color: $grey-persian;
    text-decoration: none;
    padding-bottom: 4px;
    @extend %hover;

    &_active {
      margin: 0;
      color: $white-light;
      border-bottom: $persian 3px solid;
      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      color: $white-light;
      border-bottom: $persian 3px solid;
    }

    &_darked {
      color: $grey;

      &_active {
        margin: 0;
        color: $light-black;
        border-bottom: $persian 3px solid;
        text-decoration: none;

        &:hover {
          color: $light-black;
        }
      }

      &:hover {
        color: $light-black;
        border-bottom: $persian 3px solid;
      }
    }
  }
}

.header-container {
  margin: 0 auto 0 auto;
  width: 1200px;
  height: 120px;
  @include flex(column, center, flex-start);

  @media screen and (max-width: $desktop) {
    width: 93.75vw;
  }

  @media screen and (max-width: $more-then-tablet) {
    max-width: 100%;
  }

  @media screen and (max-width: $middle-tablet) {
    height: 125px;
  }

  @media screen and (max-width: $mobile) {
    height: 120px;
  }
}
