.about {
  width: 100%;
  height: 588px;
  @include flex(row, center, center);
  gap: 120px;
  background-color: $white;

  @media screen and (max-width: $big-tablet) {
    @include flex(column-reverse, flex-end, center);
    height: 1048px;
    gap: 80px;
  }

  @media screen and (max-width: $tablet) {
    @include flex(column-reverse, center, center);
    height: 974px;
    gap: 42px;
  }

  @media screen and (max-width: $mobile) {
    @include flex(column-reverse, flex-end, center);
    height: 974px;
    gap: 42px;
  }

  &__image {
    margin-bottom: 25px;
    width: 300px;
    height: 400px;

    @media screen and (max-width: $big-tablet) {
      margin-top: 80px;
    }

    @media screen and (max-width: $middle-tablet) {
      margin-top: 15px;
    }

    @media screen and (max-width: $tablet) {
      margin: 0;
      width: 60vw;
      height: 80vw;
    }

    @media screen and (max-width: $mobile) {
      width: 260px;
      height: 353px;
    }
  }

  &__text-container {
    margin-top: 70px;
    width: 430px;
    height: 480px;

    @media screen and (max-width: $big-tablet) {
      height: 380px;
    }

    @media screen and (max-width: $tablet) {
      width: 86vw;
      height: 455px;
      @include flex(column, center, center);
    }

    @media screen and (max-width: $mobile) {
      @include flex(column, flex-start, center);
      margin-top: 40px;
      width: 270px;
      height: 494px;
    }
  }

  &__title {
    margin: 0;
    width: 370px;
    @extend %sectionTitle;
    color: $grey;

    @media screen and (max-width: $big-tablet) {
      margin-top: 80px;
    }

    @media screen and (max-width: $middle-tablet) {
      margin-top: 10px;
    }

    @media screen and (max-width: $tablet) {
      margin: 0;
      width: 74vw;
      text-align: center;
    }

    @media screen and (max-width: $mobile-bigger) {
      width: 300px;
    }

    @media screen and (max-width: $mobile) {
      margin-top: 5px;
      width: 250px;
    }
  }

  &__paragraph {
    margin: 25px 0 0 0;
    @extend %paragraphText;
    color: $dark-grey;

    @media screen and (max-width: $tablet) {
      align-items: center;
    }

    @media screen and (max-width: $mobile) {
      margin-top: 22px;
      text-align: justify
    }
  }
}
