.page {
  margin: 0 auto;
  font-family: $fontFamily;
  color: $grey;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &_hidden {
    //height: 100vh;
    overflow-y: hidden;
  }
}

html {
  scroll-behavior: smooth;
}
